{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('Academic_Period')}}" method="POST">
    <input type="text" name="academic_period_name" placeholder="Digite o período: ">
    <input type="date" name="date_start" placeholder="Digite a data de início: ">
    <input type="date" name="date_end" placeholder="Digite a data de término: ">
    <input type="text" name="academic_period_description" placeholder="Insira uma descrição: ">
    <button type="submit">Cadastrar</button>
</form>

{% for academic_period in data %}
{{academic_period.1}}
<br>
{{academic_period.4}}
<form action='/delete/academic_period/{{academic_period.0}}' method="POST">
    <button>DELETAR</button>
</form>

<a href="/update/academic_period/{{academic_period.0}}">atualizar</a>
<br>

{% else %}
NÃO TEM PERIODO CADASTRADO
{% endfor %}



{% endblock %}