{% extends "base.html" %}
{% block content %}


<div class="container">
    <header>Cadastro de período letivo</header>

    <form action="{{ url_for('Academic_Period')}}" method="POST">
        <div class="form first">
            <div class="details personal">
                <span class="title">Informações do período</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Nome:</label>
                        <input type="text" name="academic_period_name" placeholder="Digite o nome do período" required>
                    </div>

                    <div class="input-field">
                        <label>Data início:</label>
                        <input type="date" name="date_start" placeholder="Informe a data de início" required>
                    </div>

                    <div class="input-field">
                        <label>Data do fim:</label>
                        <input type="date" name="date_end" placeholder="Informe o final">
                    </div>

                    <div class="input-field">
                        <label>Descrição:</label>
                        <input type="text" name="academic_period_description" placeholder="Faça a descrição do período">
                    </div>
                    
                </div>
            </div>

            

                <button type="submit">Cadastrar</button>
            </div> 
        </div>

        
    </form>
</div>

{% for academic_period in data %}
{{academic_period.1}}
<br>
{{academic_period.4}}
<form action='/delete/academic_period/{{academic_period.0}}' method="POST">
    <button>DELETAR</button>
</form>

<a href="/update/academic_period/{{academic_period.0}}">atualizar</a>
<br>

{% else %}
NÃO TEM PERIODO CADASTRADO
{% endfor %}



{% endblock %}