{% extends "base.html" %}
{% block content %}



<div class="container">
    <header>Cadastro de prédio</header>

    <form action="{{ url_for('Building')}}" method="POST"> 
        <div class="form first">
            <div class="details personal">
                <span class="title">Informações do prédio</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Nome:</label>
                        <input type="text" name="name_unity" placeholder="Digite o nome do prédio" required>
                    </div>

                    <div class="input-field">
                        <label>Endereço:</label>
                        <input type="text" name="adress" placeholder="Digite o endereço">
                    </div>
                    <div class="input-field">
                        <label>Salas:</label>
                        <input type="text" name="rooms" placeholder="Digite a quantidade de salas: ">
                    </div>

                   
                </div>
            </div>

            

                <button type="submit">Cadastrar</button>
            </div> 
        </div>

        
    </form>
</div>



{% for building in data %}
{{building.1}}
{{building.4}}
<form action='/delete/build/{{building.0}}' method="POST">
    <button>DELETAR</button>
</form>

<a href="/update/build/{{building.0}}">atualizar</a>
<br>
{% else %}
NÃO TEM PREDIOS
{% endfor %}
{% endblock %}
