{% extends "base.html" %}
{% block content %}

<form action="/regclasse" method="POST">
    <input type="text" name="institution" placeholder="Digite o nome da instituição:  ">
    <input type="number" name="course" placeholder="Digite o nome do curso: ">
    <input type="number" name="status_class" placeholder="Qual é o status da turma?">
    <input type="text" name="type_class" placeholder="Qual é o tipo de turma?">
    <input type="text" name="expected_numb_stud" placeholder="Número de alunos previstos: ">
    <input type="date" name="enrolled_numb_stud" placeholder="Número de alunos matriculados: ">
    <input type="date" name="semester" placeholder="Insira o semestre: ">
    <input type="text" name="matrix_curriculum" placeholder="Insira a matriz curricular: ">
    <input type="date" name="turn_class" placeholder="Insira o turno: ">
    <input type="text" name="series_class" placeholder="Digite a série: ">

    <button type="submit">Cadastrar</button>
</form>

{% for class in data %}
{{class.1}}
{{class.4}}
{% endfor %}



{% endblock %}
