{% extends "base.html" %}
{% block content %}
  <div class="container">
        <header>Cadastro de curso</header>
        <form action="/update/course/{{one.0}}" method="POST">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Informações do curso</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Nome completo:</label>
                            <input type="text" name="full_n_course"  value="{{one.1}}" required>
                        </div>

                        <div class="input-field">
                            <label>Nome reduzido:</label>
                            <input type="text" name="short_n_course" value="{{one.2}}" required>
                        </div>

                        <div class="input-field">
                            <label>Modalidade:</label>
                            <select name="modal_course">
                                <option value="{{one.3}}">{{one.3}}</option>
                                <option value="tecnologo">Tecnólogo</option>
                                <option value="licenciatura">Licenciatura</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Turmas:</label>
                            <input type="text" name="class_course" value="{{one.4}}">
                        </div>
                                           </div>
                </div>
                    <button type="submit">Atualizar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
