 {% extends "base.html" %}

{% block content %}




<div class="container2">
    <header>Cadastro de disciplina</header>

    <form action="/update/discipline/{{onetea.0}}" method="POST">
        <div class="form first">
            <div class="details personal">
                <span class="title">Informações da disciplina</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Nome:</label>
                        <input type="text" name="name_discipline" value="{{onetea.1}}" placeholder="Digite o nome da disciplina: ">
                    </div>

                    <div class="input-field">
                        <label>Código:</label>
                        <input type="text" name="code_discipline" placeholder="Digite o código da disciplina: ">
                    </div>

                    <div class="input-field">
                        <label>CH total:</label>
                        <input type="text" name="discipline_workload_total" value="{{onetea.5}}" placeholder="Informe a ch total: ">
                    </div>

                    <div class="input-field">
                        <label>CH teórica:</label>
                        <input type="text" name="discipline_workload_teory" value="{{onetea.2}}" placeholder="Informe a ch teórica: ">
                    </div>
                    <div class="input-field">
                        <label>CH prática:</label>
                        <input type="text" name="discipline_workload_practice" value="{{onetea.3}}" placeholder="Informe a ch prática: ">
                    </div>
                    <div class="input-field">
                        <label>CH online:</label>
                        <input type="text" name="discipline_workload_online" value="{{onetea.4}}" placeholder="Informe a ch online: ">
                    </div>

             
                    
                </div>
            </div>

            

                <button type="submit">Cadastrar</button>
            </div> 
        </div>

        
    </form>
</div>

{% endblock %}
