{% extends "base.html" %}
{% block content %}

<form action="/discipline" method="POST">
    <input type="text" name="'name_disclipline" placeholder="Digite o nome da disciplina: ">
    <input type="number" name="discipline_workload_teory" placeholder="Insira a carga horária teórica: ">
    <input type="number" name="discipline_workload_practice" placeholder="Insira a carga horária prática: ">
    <input type="number" name="discipline_workload_online" placeholder="Insira a carga horária online:">
    <input type="number" name=" discipline_workload_total" placeholder="Insira a carga horária total:">

    <button type="submit">Cadastrar</button>
</form>

{% for discipline in data %}
{{teacher.1}}
{{teacher.4}}
{% endfor %}



{% endblock %}
