{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('Discipline')}}" method="POST">
    <input type="text" name="name_discipline" placeholder="Digite o nome da disciplina: ">
    <input type="number" name="discipline_workload_teory" placeholder="Insira a carga horária teórica: ">
    <input type="number" name="discipline_workload_practice" placeholder="Insira a carga horária prática: ">
    <input type="number" name="discipline_workload_online" placeholder="Insira a carga horária online:">
    <input type="number" name=" discipline_workload_total" placeholder="Insira a carga horária total:">

    <button type="submit">Cadastrar</button>
</form>

{% for discipline in data %}
{{discipline.1}}
<form action='/delete/discipline/{{discipline.0}}' method="POST">
    <button>DELETAR</button>
</form>

<a href="/update/discipline/{{discipline.0}}">atualizar</a>
<br>
{% else %}
NÃO TEM PRODUTOS CADASTRADOS

{% endfor %}

{% endblock %}
