{% extends "base.html" %}
{% block content %}

  <div class="container">
        <header>Planejamento</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Login Planejamento</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Usuario</label>
                            <input type="text" placeholder="Digite o seu usuario: " required>
                        </div>

                        <div class="input-field">
                            <label>Senha</label>
                            <input type="text" placeholder="Insira a senha: " required>
                        </div>
                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Login</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>



{% endblock %}