o{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('institution_academy')}}" method="POST">
    <input type="text" name="'institution_name" placeholder="Digite o nome da instituição: ">
    <input type="text" name="headquarters" placeholder="Digite a matriz: ">
    <input type="text" name="branch" placeholder="Insira a filial: ">
    <input type="text" name="courses" placeholder="Insira o curso">

    <button type="submit">Cadastrar</button>
</form>

{% for institution_academy in data %}
{{institution_academy.1}}
<form action='/delete/institution_academy/{{institution_academy.0}}' method="POST">
    <button>DELETAR</button>
</form>
{{institution_academy.4}}
{% endfor %}



{% endblock %}
