{% extends "base.html" %}
{% block content %}


<form action="/teacher">
    <button name="teacherBtn" type="submit">Cadastrar Professor</button>
</form>

<form action="/course">
    <button name="courseBtn" type="submit">Cadastrar Curso</button>
</form>

<form action="/class">
    <button name="classBtn" type="submit">Cadastrar Turma</button>
</form>

<form action="/academic_period">
    <button name="academic_periodBtn" type="submit">Cadastrar Período Acadêmico</button>
</form>

<form action="/discipline">
    <button name="disciplineBtn" type="submit">Cadastrar Disciplina</button>
</form>

{% endblock %}