{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('Planning')}}" method="POST">
    <input type="text" name="semester" placeholder="Digite o semestre: ">
    <input type="text" name="class1" placeholder="Digite a turma: ">
    <input type="text" name="discipline" placeholder="Digite a disciplina: ">
    <input type="text" name="teacher" placeholder="Digite o professor: ">
    <input type="number" name="workload" placeholder="Digite a carga horária: ">
    <input type="text" name="modalit_offering" placeholder="Digite a modalidade: ">
    <input type="text" name="status" placeholder="Digite o status: ">
    <button type="submit">Cadastrar</button>
</form>

{% for planning in data %}
{{planning.1}}
{{planning.4}}
<form action='/delete/plan/{{planning.0}}' method="POST">
    <button>DELETAR</button>
</form>
<a href="/update/plan/{{planning.0}}">atualizar</a>
<br>
{% else %}
NÃO TEM PLANEJAMENTOS CADASTRADOS
{% endfor %}



{% endblock %}
