{% extends "base.html" %}
{% block content %}

<form action="/update/plan/{{one.0}}" method="POST">
    <input type="text" name="semester" value="{{one.1}}" placeholder="Digite o semestre: ">
    <input type="text" name="class1" value="{{one.2}}" placeholder="Digite a turma: ">
    <input type="text" name="discipline" value="{{one.3}}" placeholder="Digite a disciplina: ">
    <input type="text" name="teacher" value="{{one.4}}" placeholder="Digite o professor: ">
    <input type="number" name="workload" value="{{one.5}}" placeholder="Digite a carga horária: ">
    <input type="text" name="modalit_offering" value="{{one.6}}" placeholder="Digite a modalidade: ">
    <input type="text" name="status" value="{{one.7}}" placeholder="Digite o status: ">
    <button type="submit">Cadastrar</button>
</form>
{% endblock %}