{% extends "base.html" %}

{% block content %}

<Div class="cabeçalho" >
<header><h1> Cadastro professor</h1></header>
        <table class="tabela">
            {% for teacher in data %}
            <tr>
                <th>Professor</th>
                <th>Graduação</th>
                <th>Matricula</th>
                <th>Historico de Valor/Aula</th>
                <th>Titulação</th>
                <th>Regime de trabalho</th>
                <th>Data de Contratação</th>
                <th>Data desligamento</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>{{teacher.1}}</td>
                <td>{{teacher.2}}</td>
                <td>{{teacher.3}}</td>
                <td>{{teacher.4}}</td>
                <td>{{teacher.5}}</td>
                <td>{{teacher.6}}</td>
                <td>{{teacher.7}}</td>
                <td>{{teacher.8}}</td>
                <td>{{teacher.9}}</td>
                <td><form action='/delete/teacher/{{teacher.0}}' method="POST"><button>Deletar</button></form></td>
                <td><a href="/update/teacher/{{teacher.0}}">Atualizar</a></td>
            </tr>
            {% else %}
            NÃO TEM PROFESSORES
            {% endfor %}
</table>
</Div>
{% endblock %}